
body{
    font-family: 'Inter', sans-serif;

}
/* Banner star */
.banner{
    background-image: url("Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin:50px auto;
    border-radius: 16px;
    text-align: center;
 }


.new1{
 color: #FFF;
 font-size: 32px;

 
}

.new{
     margin-top: 200px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: #FFF;
}


/* main start */
.off{
    text-align: center;
}

.offer{
 font-size: 88px;
 color: #FF0000;
 margin-top: 120px;
 font-weight: 700px;
}

.our{
    color: #FF0000;
    
    font-size: 24px;
    margin-top:48px;
    font-weight: 500px;
}

.all{
    font-size: 48px;
   gap: 93px;
}

.newphoto{
    width: 800px;
    height: 500px;
    gap:48px;
}


/* main 2nd part start */

.group{
    display:flex;
    background-image: url("Vectorrr.png");
    border-radius:26px ;
    width: 1320px;
    height: 600px;
    margin: 70px auto;
}

.group1{
    font-size: 64px;
    color: #FFF;
    margin:126px 24px 24px 126px;
}

.group2{
   font-size:18px;
   color:rgba(255, 255, 255, 0.80); 
   margin: auto 126px;
}

.group3{
    display: block;
    margin-top:100px;
    width: 103px;
    height:24px;
    color: #FFF;
    background: none;
    border: none;
    font-size:15px;
}
.group4{
    width: 320px;
    height: 464px;
    margin-top: 68px;
    margin-right:138px;
}

/* section class="discount1 start */


.discount2{
    text-align: center;
    width:1320px;
    height:482px;
    border:2px solid rgb(16, 121, 207);
    margin: 120px auto;
    background: rgb(247, 240, 241);
}

.time{
    color: red;
}

.discount3{
    margin:100px auto ;
    font-size:40px;
    line-height:25px;
}

.discount4{
     background: red;
     width:220px;
     height: 80px;
     font-size:25px;
     color: white;
     border-radius: 10px;
     border:2px solid;
     margin: 5px;
}


/* coming soon start */
.coming{
    display:flex;
    width:1320px;
    height:425px;
    margin: auto;

}

.coming1{
    font-size:30px;
    color: red;
    margin-top:100px;
}
.coming2{
    font-size: 50px;
    line-height:2px;
}
.coming3{
    color:rgba(7, 2, 17, 0.60) ;

}
.circle{
    width:400px;
    height:400px;
    border:15px solid red ;
    border-radius: 50%;
    margin-right:100px;
    margin-left:150px;

}
.circlepic{
   margin:20px;
    
}
.coming4{
    color: red;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 100px;
    line-height: 2px;
}
.coming5{
 margin-left: 100px;
 color: rgba(7, 2, 17, 0.60);
 
}

.coming6{
 margin-left:90px;
 margin-top:20px;
}
/* article is start */
.holiday{
    font-family: Inter;
    margin-top: 70px;
    text-align: center;
}
.holiday1{
    font-size: 20px;
}
.holiday2{
    font-size: 72px;
    font-family: Merriweather;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 10px;
}
.holiday3{
    font-size: 20px;
    line-height:normal;
    margin-top:1px;
    color:rgba(7, 2, 17, 0.60) ;
}

/* Awesome gift start */

.gift{
 width: 1320px;
 height: 1060px;
 margin: 100px auto;
} 

.text1{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
}
.text2{
  font-size: 48px;
  font-family: Inter;
  line-height: 1px;
  margin-top: 50px;
}


.portfolio5{
    display:flex;
    gap: 24px;
   
   
}
.portfolio6{
    display:flex;
    gap: 24px;
    margin-top: 24px;
   
   
}
.text3{
    font-size: 20px;
    line-height:normal;
    margin-top:1px;
    color:rgba(7, 2, 17, 0.60) ;
}

/* Now start gmail */
.gmail1{
    width: 1320px;
    height: 616px;
    text-align: center;
    border:2px solid rgb(16, 121, 207);
    margin: 120px auto;
    background: rgba(255, 0, 0, 0.05);
}

.gmali2{
    margin-top: 80px;

}

.gmail3{
    font-size: 50px;
    line-height: 2px;
}

.gmail4{
    font-size: 20px;
    line-height:normal;
    margin-top:1px;
    color:rgba(7, 2, 17, 0.60) ;
} 

.gmali5{
    width: 648px;
    height: 72px;
    border-radius: 35px;
    background:white;
    border: none;
    
}
.divgood{
    display:flex;
}
.user{
    margin-right:450px;
    color:rgba(7, 2, 17, 0.60) ;
    font-size: 18px;
}
.user1{
    margin-left:450px;
    margin-bottom: 350px;
    color:rgba(7, 2, 17, 0.60) ;
    font-size: 18px;
}


/* now start footert */
.footer{
   
    height: 500px ;
    border: 5px solid white;
    margin: auto;
    background:#070211 ;
    
}
.footer1{
    
}
.footer1{
    color: white;
    margin-top: 100px;
    margin-left:110px;
}
.footer2 {
    text-align: center;
    color: white;

    
}
.img{
margin: 10px;

}

.unorderlist{
    list-style-type: none;
    margin-left: 900px;
}


.hrtag{
    width: 1320px;
   
}
.hrtag:hover{
    background: navy;
}
.allright{
    display: flex;
    color: #FFF;
}
.footer3{
    font-size: 20px;
    margin-left:225px;

}
.footer4{
 font-size: 20px;
    margin-left:870px;
}
